/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(182, 230, 252); 
    /* background: #888;  */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(111, 203, 240); 
    /* background: #555;  */
}